@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #010101;
}

.Container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .Container {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .Container {
    max-width: 1170px;
  }
}

@media (max-width: 992px) {
  .Container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .Container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .Container {
    max-width: 540px;
  }
}
.App {
  background: white;
}

.App-p {
  margin: 10px;
  font-size: 14pt;
  text-align: center;
}

a {
  color: royalblue;
}

h1 {
  margin: 10px;
}

.mt1 {
  margin-top: 5px;
}

.mt2 {
  margin-top: 10px;
}

.ml1 {
  margin-left: 5px;
}

.Icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: gray;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  padding: 10px;
}

.App-footer {
  margin-bottom: 30px;
  font-size: 11pt;
  color: gray;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.Card-section {
  margin-bottom: 25px;
  width: 50%;
}

.Card-section.full {
  width: 100%;
}

.Item-tag {
  background-color: #282c34;
  color: white;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Item-tag:hover {
  transition: background-color 0.5s ease;
  background-color: darkslategray;
}

.Item-tag.active {
  background-color: darkcyan;
}

.Tab {
  padding: 20px 50px;
  background-color: dimgrey;
  color: white;
  border-bottom: 1px solid dimgrey;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Tab.active {
  background-color: lightslategray;
  border-bottom: 2px solid #61dafb;
  transition: background-color 0.5s ease;
}

@media (max-width: 600px) {
  .App-content {
    width: auto;
  }
}
