.App {
  background: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-p {
  margin: 10px;
  font-size: 14pt;
  text-align: center;
}

a {
  color: royalblue;
}

h1 {
  margin: 10px;
}

.mt1 {
  margin-top: 5px;
}

.mt2 {
  margin-top: 10px;
}

.ml1 {
  margin-left: 5px;
}

.Icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: gray;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  padding: 10px;
  width: 90%;
  margin: auto;
}

.App-footer {
  margin-bottom: 30px;
  font-size: 11pt;
  color: gray;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.Card-section {
  margin-bottom: 25px;
  width: 50%;
}

.Card-section.full {
  width: 100%;
}

.Item-tag {
  background-color: #282c34;
  color: white;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Item-tag:hover {
  transition: background-color 0.5s ease;
  background-color: darkslategray;
}

.Item-tag.active {
  background-color: darkcyan;
}

.Tab {
  padding: 20px 50px;
  background-color: dimgrey;
  color: white;
  border-bottom: 1px solid dimgrey;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Tab.active {
  background-color: lightslategray;
  border-bottom: 2px solid #61dafb;
  transition: background-color 0.5s ease;
}

@media (max-width: 600px) {
  .App-content {
    width: auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
