.Card-header {
  display: flex;
  align-items: center;
}

.Card-subheader {
  color: gray;
  margin-left: 10px;
  font-weight: bold;
}

.Card-container {
  display: flex;
  flex-wrap: wrap;
}

.Card-right {
  width: 170px;
  z-index: 1;
}

.Card-name {
  font-size: 11pt;
  text-align: center;
}

.Card-img-wrapper {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.Card-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.Card-circle {
  position: absolute;
  left: -50%;
  top: -50%;
  font-size: 12pt;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: silver;
  animation: slideIn 1s ease-in;
}

@keyframes slideIn {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    left: -50%;
    opacity: 1;
  }
}

.Card-number {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12pt;
  border-radius: 50%;
  z-index: 0;
  font-weight: bold;
  font-size: 16pt;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Card:first-child .Card-circle {
  background-color: goldenrod;
}

.Card:nth-child(2) .Card-circle {
  background-color: lightsalmon;
}

.Card:nth-child(3) .Card-circle {
  background-color: rosybrown;
}

.Card {
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c3bebe;
  border-radius: 5px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
  cursor: pointer;
}

.Card-stat {
  color: gray;
  font-size: 10pt;
  margin-top: 10px;
}

.Card > span > a {
  color: darkslategrey;
}

@media (max-width: 600px) {
  .Card-section {
    width: 100%;
  }

  .Card-container {
    justify-content: center;
  }

  .Card {
    width: 40%;
  }

  .Card-right {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .Card {
    width: 100%;
  }
}
