.Card-header {
  display: flex;
  align-items: center;
}

.Card-subheader {
  color: gray;
  margin-left: 10px;
  font-weight: bold;
}

.Card-container {
  display: flex;
  flex-wrap: wrap;
}

.Image-wrapper {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #010101;
}

.Card-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.Card-right {
  width: 170px;
}

.Card-name {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.Card {
  padding: 30px 15px;
  margin: 7.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
  cursor: pointer;
}

.Card:hover .Profile-link {
  opacity: 1;
}

.Profile-link {
  color: #010101;
  opacity: 0.8;
  transition: opacity 300ms ease-in;
  text-decoration: none;
  font-size: 14px;
}

.Card-stat {
  font-size: 10pt;
  margin-top: 10px;
}

.Card > span > a {
  color: darkslategrey;
}

@media (max-width: 600px) {
  .Card-section {
    width: 100%;
  }

  .Card-container {
    justify-content: center;
  }

  .Card {
    width: 40%;
  }

  .Card-right {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .Card {
    width: 100%;
  }
}
